*{
    margin: 0;
    padding: 0;
}
body{
    background-color:grey;
    background-size: contain; 
    backface-visibility: visible;
    background-size: cover;
}
div.main{
    width: 400px;
    margin: 100px auto 0px auto;
}
h2{
    text-align: center;
    padding:100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
div.register{
    background-color: rgba(92, 59, 100, 0.403);
    width:100%;
    font-size: 20px;
    border-radius: 10px;
    border:1px;
    box-shadow: 2px 15px;
}
form#register{
    margin: 40px;
}
label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-style:bold;
}
input#name{
    width:300px;
    border:1px;
    border: radius 5px;
    outline: 0;
    padding:10px ;
    background-color: white;
    box-shadow:inset 1px 1px 5px ;

}
input#submit{
    width: 200px;
    padding:  10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background-color: rgba(98, 61, 61, 0.338);
    color:bisque;
    cursor: pointer;
    border:1px;
    margin-bottom: 10px;
}
label,span,h2{
    text-shadow: 1px 1px 5px;
}
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  .valid {
    color: green;
  }
  .valid:before {
    position: relative;
    left: -35px;
    content: "&#10004;";
  }
  .invalid {
    color: red;
  }
  .invalid:before {
    position: relative;
    left: -35px;
    content: "&#10006;";
  }  
  /* Style all input fields */
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
}

/* Style the container for inputs */
.container {
  background-color: #f1f1f1;
  padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}